# Archivos auxiliares de LaTeX
*.aux
*.log
*.lof
*.lot
*.fdb_latexmk
*.fls
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.toc
*.out
missfont.log
main.bcf-SAVE-ERROR

# Archivo de salida principal
*.pdf

# Archivos de configuración del editor
.vscode/